#grad {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #02A288, #95D5EC);
    background: -moz-linear-gradient( to left top, #02A288, #95D5EC);
    background: -ms-linear-gradient( to left top, #02A288, #95D5EC);
    background: -o-linear-gradient( to left top, #02A288, #95D5EC);
    background: linear-gradient( to left top, #02A288, #95D5EC);
}

#table
{ 
 font-size: 22;
 color: #ffeffe;
}